background-color: #f9f9f9;
  
}
/*HEADER*/
  .box1 {
     margin:0 auto; 
     width: 1024px;
     height: 1000px; 
     background-color: white; 
     box-shadow: 0 0 5px #dbdbdb;
}  
  .box2 {
     background-color: #494848;
     height: 30px
     width: 200px;
     padding:20px
}
 .box3 {
    margin-right: 200px
 }
